#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 3em;
  height: 3em;
  margin: 0.2em;
  border: 1px solid black;
}

button {
  width: 18em;
  height: 3em;
  border-radius: 0.2em;
  box-shadow: none;
}

button:hover {
  background-color: #CCC;
  cursor: pointer;
}

.links {
  margin: 1em auto;
  width: 5em;
  display: flex;
  justify-content: space-around;
}

.links a {
  color: #888;
  font-size: 1.3em;
}

.links a:hover {
  color: #666;
  transform: scale(1.06);
  text-shadow: 1px 2px 8px #888;
}
